extends layout

block content
  .p-4
    .card.shadow-sm.rounded-4.p-3
      .d-flex.justify-content-between.align-items-center.mb-3
        h4.fw-bold.text-dark Asset Category Master
        a.btn.btn-primary.rounded-3(href="/assets-category/create")
          i.bi.bi-plus-lg.me-2
          | Add Category

      table#catTable.table.table-striped.table-bordered.align-middle
        thead.bg-dark.text-white
          tr
            th #
            th Category
            th Description
            th Status
            th Action
        tbody
          each cat, i in categories
            tr
              td #{i+1}
              td #{cat.c_name}
              td #{cat.c_desc}
              td
                if cat.n_status == 1
                  span.badge.bg-success Active
                else
                  span.badge.bg-secondary Inactive
              td
                button.btn.btn-sm.btn-warning.me-2(onclick=`editCat(${cat.category_id})`)
                  i.bi.bi-pencil
                button.btn.btn-sm.btn-danger(onclick=`openDelModal(${cat.category_id})`)
                  i.bi.bi-trash

  div#deleteModal.modal.fade(tabindex="-1" aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          h5.modal-title Delete Asset Category
          button.btn-close(type="button" data-bs-dismiss="modal")
        div.modal-body
          p Are you sure you want to delete this Asset Category?
        div.modal-footer
          button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
          button#confirmDelete.btn.btn-danger(type="button") Delete

  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css")

  script(src="https://code.jquery.com/jquery-3.7.0.min.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js")
  script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")
  script(src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js")
  blo
  script.
    let deleteId = null;
    const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
    const confirmDeleteBtn = document.getElementById('confirmDelete');

    $(function(){
      $('#catTable').DataTable({ pageLength: 5, lengthChange: false });
      window.editCat = id => location.href = '/assets-category/edit/' + id;
    });

    window.openDelModal = id => {
      deleteId = id;
      modal.show();
    };

    confirmDeleteBtn.addEventListener('click', ()=>{
      if(!deleteId) return;
      fetch('/assets-category/delete/' + deleteId, { method: 'POST' })
        .then(r=>r.json())
        .then(d=>{
          if(d.success){
            modal.hide();
            location.reload();
          } else {
            alert(d.error);
          }
        })
        .catch(err=>alert('Server error'));
    });
